<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Live Course Administration</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
          <li class="breadcrumb-item active">Live Course Administration</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <div class="row">
    <div class="col-sm-12">
      <div class="card card-table">
        <div class="card-body">
          <form class="row">
            <div class="col-md-6">
              <label class="">&nbsp;</label>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  aria-label="Text input with dropdown button"
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-outline-secondary dropdown-toggle"
                    type="button"
                    data-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Select
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Student Name</a>
                    <a class="dropdown-item" href="#">Email </a>
                    <a class="dropdown-item" href="#">NRIC/FIN </a>
                    <a class="dropdown-item" href="#">Course Name </a>
                    <a class="dropdown-item" href="#">Mobile Number </a>
                    <a class="dropdown-item" href="#">Corporate Name</a>
                    <a class="dropdown-item" href="#">Batch No </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="col-md-3">
                <div class="form-group mt-4">
                  <a
                    routerLink="/course/course-requirement-add"
                    class="btn btn-primary"
                    ><i class="fas fa-search"></i> Search
                  </a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- end search -->
    <div class="col-sm-12">
      <div class="card card-table">
        <div class="card-body">
          <div class="accordion" id="accordionExample">
            <div class="card mb-0">
              <div
                class="card-header p-2"
                id="headingOne"
                style="background-color: #f5f5f5"
              >
                <h2 class="mb-0">
                  <button
                    class="btn btn-link btn-block text-left"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  ></button>
                </h2>
              </div>

              <div
                id="collapseOne"
                class="collapse show"
                aria-labelledby="headingOne"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  <form class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Students Name </label>
                        <input
                          type="text"
                          class="form-control"
                          value="ICFC N1"
                          disabled
                        />
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Registration ID</label>
                        <input
                          type="text"
                          class="form-control"
                          value="IC95989"
                          disabled
                        />
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Course Name </label>
                        <select class="select2 form-control" required>
                          <option disabled selected>-- Select --</option>
                          <option value="1">PHP</option>
                          <option value="2">C#</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Course Code </label>
                        <input
                          type="text"
                          class="form-control"
                          value="95989"
                          disabled
                        />
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Batch ID </label>
                        <input
                          type="text"
                          class="form-control"
                          value="DF95989"
                          disabled
                        />
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Course material </label>
                        <input
                          type="text"
                          class="form-control mb-2"
                          value="Sent - Postage"
                          disabled
                        />
                        <select class="select2 form-control" required>
                          <option disabled selected>-- Select --</option>
                          <option value="1">Sent - Email</option>
                          <option value="2">Sent - Postage</option>
                          <option value="2">Classroom based</option>
                          <option value="2">Not Applicable</option>
                          <option value="2">Reset Request</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Query - Course </label>
                        <input
                          type="text"
                          class="form-control mb-2"
                          value="Queries - not replied"
                          disabled
                        />
                        <select class="select2 form-control" required>
                          <option disabled>-- Select --</option>
                          <option value="1">Queries - replied</option>
                          <option value="2">Queries - not replied</option>
                          <option value="2">Queries - not replied</option>
                          <option value="2">No Queries</option>
                          <option value="2">Reset Request</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Query - Technical </label>
                        <input
                          type="text"
                          class="form-control mb-2"
                          value="Reset Request"
                          disabled
                        />
                        <select class="select2 form-control" required>
                          <option disabled>-- Select --</option>
                          <option value="1">Queries - replied</option>
                          <option value="2">Queries - not replied</option>
                          <option value="2">No Queries</option>
                          <option value="2">Reset Request</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Query - Trainer </label>
                        <input
                          type="text"
                          class="form-control mb-2"
                          value="No Queries"
                          disabled
                        />
                        <select class="select2 form-control" required>
                          <option disabled>-- Select --</option>
                          <option value="1">Queries - replied</option>
                          <option value="2">Queries - not replied</option>
                          <option value="2">No Queries</option>
                          <option value="2">Reset Request</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Assignment Status </label>
                        <input
                          type="text"
                          class="form-control mb-2"
                          value="Submission - Done"
                          disabled
                        />
                        <select class="select2 form-control" required>
                          <option disabled>-- Select --</option>
                          <option value="1">Submission - Pending</option>
                          <option value="2">Submission - Done</option>
                          <option value="2">NA</option>
                          <option value="2">Reset Request</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Feedback During Course </label>
                        <input
                          type="text"
                          class="form-control mb-2"
                          value="Available - Partial"
                          disabled
                        />
                        <select class="select2 form-control" required>
                          <option disabled>-- Select --</option>
                          <option value="1">Available - Full</option>
                          <option value="2">Available - Partial</option>
                          <option value="2">Not Available</option>
                          <option value="2">Not Applicable</option>
                          <option value="2">Reset Request</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <label> Training Organization </label>
                        <input
                          type="text"
                          class="form-control"
                          value="ABS Systems"
                          disabled
                        />
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <label> Pending items </label>
                        <input
                          type="text"
                          class="form-control"
                          value="ABS Systems"
                          disabled
                        />
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <label> Make Remarks </label>
                        <input type="text" class="form-control" />
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group mt-4">
                        <a routerLink="/" class="btn btn-primary"> Update </a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
