<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row">
      <div class="col">
        <h3 class="page-title">Course Requirement Reference</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
          <li class="breadcrumb-item active">Course Requirement Add</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <!-- lesson form row -->
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <form class="row">
            <!-- row start -->
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Governing Agency </label>
                <input
                  type="text"
                  class="form-control"
                  placeholder=""
                  required
                />
              </div>
              <!-- end col-6 -->
            </div>

            <div class="col-md-6">
              <!-- end col-6 -->
            </div>

            <!-- start col-6 -->
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <label for="">Agency Requirements</label>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="File Name"
                      required
                    />
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="file"
                      class="form-control form-control-file"
                      id=""
                    />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <a
                      routerLink="/course/course-requirement-add"
                      class="btn btn-primary"
                      ><i class="fas fa-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
              <!-- end col-6 -->
            </div>

            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <label for="">Legal Requirements</label>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="File Name"
                      required
                    />
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="file"
                      class="form-control form-control-file"
                      id=""
                    />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <a
                      routerLink="/course/course-requirement-add"
                      class="btn btn-primary"
                      ><i class="fas fa-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
              <!-- end col-6 -->
            </div>

            <!-- start col-6 -->
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <label for="">Insurance Requirements</label>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="File Name"
                      required
                    />
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="file"
                      class="form-control form-control-file"
                      id=""
                    />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <a
                      routerLink="/course/course-requirement-add"
                      class="btn btn-primary"
                      ><i class="fas fa-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
              <!-- end col-6 -->
            </div>

            <!-- start col-6 -->
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <label for="">Process Requirements</label>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="File Name"
                      required
                    />
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="file"
                      class="form-control form-control-file"
                      id=""
                    />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <a
                      routerLink="/course/course-requirement-add"
                      class="btn btn-primary"
                      ><i class="fas fa-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
              <!-- end col-6 -->
            </div>

            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <label for="">Documentation Requirements</label>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="File Name"
                      required
                    />
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="file"
                      class="form-control form-control-file"
                      id=""
                    />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <a
                      routerLink="/course/course-requirement-add"
                      class="btn btn-primary"
                      ><i class="fas fa-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
              <!-- end col-6 -->
            </div>

            <!-- start col-6 -->
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <label for="">Agency Software Requirements</label>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="File Name"
                      required
                    />
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="file"
                      class="form-control form-control-file"
                      id=""
                    />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <a
                      routerLink="/course/course-requirement-add"
                      class="btn btn-primary"
                      ><i class="fas fa-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
              <!-- end col-6 -->
            </div>

            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <label for="">Finacial Requirements</label>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="File Name"
                      required
                    />
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="file"
                      class="form-control form-control-file"
                      id=""
                    />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <a
                      routerLink="/course/course-requirement-add"
                      class="btn btn-primary"
                      ><i class="fas fa-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
              <!-- end col-6 -->
            </div>

            <!-- start col-6 -->
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <label for="">Agency Technical Requirements</label>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="File Name"
                      required
                    />
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="file"
                      class="form-control form-control-file"
                      id=""
                    />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <a
                      routerLink="/course/course-requirement-add"
                      class="btn btn-primary"
                      ><i class="fas fa-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
              <!-- end col-6 -->
            </div>

            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <label for="">Marketing Requirements</label>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="File Name"
                      required
                    />
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="file"
                      class="form-control form-control-file"
                      id=""
                    />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <a
                      routerLink="/course/course-requirement-add"
                      class="btn btn-primary"
                      ><i class="fas fa-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
              <!-- end col-6 -->
            </div>

            <!-- start col-6 -->
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <label for="">Student course material Requirements</label>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="File Name"
                      required
                    />
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="file"
                      class="form-control form-control-file"
                      id=""
                    />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <a
                      routerLink="/course/course-requirement-add"
                      class="btn btn-primary"
                      ><i class="fas fa-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
              <!-- end col-6 -->
            </div>

            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <label for="">LMS Requirements</label>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="File Name"
                      required
                    />
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="file"
                      class="form-control form-control-file"
                      id=""
                    />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <a
                      routerLink="/course/course-requirement-add"
                      class="btn btn-primary"
                      ><i class="fas fa-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
              <!-- end col-6 -->
            </div>

            <!-- start col-6 -->
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <label for="">Marketing Expenditure</label>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="File Name"
                      required
                    />
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="file"
                      class="form-control form-control-file"
                      id=""
                    />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <a
                      routerLink="/course/course-requirement-add"
                      class="btn btn-primary"
                      ><i class="fas fa-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
              <!-- end col-6 -->
            </div>

            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <label for="">Course Requirements</label>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="File Name"
                      required
                    />
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="file"
                      class="form-control form-control-file"
                      id=""
                    />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <a
                      routerLink="/course/course-requirement-add"
                      class="btn btn-primary"
                      ><i class="fas fa-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
              <!-- end col-6 -->
            </div>

            <!-- start col-6 -->
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <label for="">Contents Covered</label>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="File Name"
                      required
                    />
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="file"
                      class="form-control form-control-file"
                      id=""
                    />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <a
                      routerLink="/course/course-requirement-add"
                      class="btn btn-primary"
                      ><i class="fas fa-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
              <!-- end col-6 -->
            </div>

            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <label for="">Content Reference</label>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="File Name"
                      required
                    />
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="file"
                      class="form-control form-control-file"
                      id=""
                    />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <a
                      routerLink="/course/course-requirement-add"
                      class="btn btn-primary"
                      ><i class="fas fa-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
              <!-- end col-6 -->
            </div>

            <!-- start col-6 -->
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <label for="">Student Requirements</label>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="File Name"
                      required
                    />
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="file"
                      class="form-control form-control-file"
                      id=""
                    />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <a
                      routerLink="/course/course-requirement-add"
                      class="btn btn-primary"
                      ><i class="fas fa-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
              <!-- end col-6 -->
            </div>

            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <label for="">Trainer Requirements</label>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="File Name"
                      required
                    />
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="file"
                      class="form-control form-control-file"
                      id=""
                    />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <a
                      routerLink="/course/course-requirement-add"
                      class="btn btn-primary"
                      ><i class="fas fa-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
              <!-- end col-6 -->
            </div>

            <!-- start col-6 -->
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <label for="">Other Manpower Requirements</label>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="File Name"
                      required
                    />
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="file"
                      class="form-control form-control-file"
                      id=""
                    />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <a
                      routerLink="/course/course-requirement-add"
                      class="btn btn-primary"
                      ><i class="fas fa-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
              <!-- end col-6 -->
            </div>

            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <label for="">Technical Requirements</label>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="File Name"
                      required
                    />
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="file"
                      class="form-control form-control-file"
                      id=""
                    />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <a
                      routerLink="/course/course-requirement-add"
                      class="btn btn-primary"
                      ><i class="fas fa-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
              <!-- end col-6 -->
            </div>

            <!-- start col-6 -->
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <label for="">Classroom Requirements</label>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="File Name"
                      required
                    />
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="file"
                      class="form-control form-control-file"
                      id=""
                    />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <a
                      routerLink="/course/course-requirement-add"
                      class="btn btn-primary"
                      ><i class="fas fa-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
              <!-- end col-6 -->
            </div>

            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <label for="">IT Requirements</label>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="File Name"
                      required
                    />
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="file"
                      class="form-control form-control-file"
                      id=""
                    />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <a
                      routerLink="/course/course-requirement-add"
                      class="btn btn-primary"
                      ><i class="fas fa-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
              <!-- end col-6 -->
            </div>

            <!-- start col-6 -->
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <label for="">Course Material Requirements</label>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="File Name"
                      required
                    />
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="file"
                      class="form-control form-control-file"
                      id=""
                    />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <a
                      routerLink="/course/course-requirement-add"
                      class="btn btn-primary"
                      ><i class="fas fa-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
              <!-- end col-6 -->
            </div>

            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <label for=""> Name of the Requirement </label>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="ex: add no. of field"
                      required
                    />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <a
                      routerLink="/course/course-requirement-add"
                      class="btn btn-primary"
                      ><i class="fas fa-plus"></i> Add
                    </a>
                  </div>
                </div>
              </div>
              <!-- end col-6 -->

              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-5">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="File Name"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="form-group">
                      <input
                        type="file"
                        class="form-control form-control-file"
                        id=""
                      />
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <a
                        routerLink="/course/course-requirement-add"
                        class="btn btn-info"
                        ><i class="fas fa-trash"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <!-- end col-6 -->
              </div>

              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-5">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="File Name"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="form-group">
                      <input
                        type="file"
                        class="form-control form-control-file"
                        id=""
                      />
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <a
                        routerLink="/course/course-requirement-add"
                        class="btn btn-info"
                        ><i class="fas fa-trash"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <!-- end col-6 -->
              </div>
            </div>

            <!-- col-12 -->
            <div class="col-lg-12 mt-3">
              <button class="btn btn-primary" type="submit">Submit</button>
            </div>
            <!-- end row -->
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>
