<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Documentation management</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
          <li class="breadcrumb-item active">Documentation management</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <div class="row">
    <div class="col-sm-12">
      <div class="card card-table">
        <div class="card-body">
          <div class="mb-0">
            <form class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Document Title </label>
                  <input type="text" class="form-control" />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Confidentiality Status </label>
                  <select class="select2 form-control" required>
                    <option disabled selected>-- Select --</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="2">3</option>
                  </select>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Department </label>
                  <div class="form-row">
                    <div class="col-md-6">
                      <select class="form-control mb-2" required>
                        <option disabled selected>-- Select --</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="2">3</option>
                      </select>
                    </div>
                    <div class="col-md-6">
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Document ID</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Add reminder </label> <br />
                  <a href="#">Link</a>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Department Incharge </label>
                  <div class="form-row">
                    <div class="col-md-6">
                      <select class="form-control mb-2" required>
                        <option disabled selected>-- Select --</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="2">3</option>
                      </select>
                    </div>
                    <div class="col-md-6">
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Document Type</label>
                  <div class="form-row">
                    <div class="col-md-6">
                      <select class="form-control mb-2" required>
                        <option disabled selected>-- Select --</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="2">3</option>
                      </select>
                    </div>
                    <div class="col-md-6">
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Approved Date </label>
                  <input type="date" class="form-control" />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Document user</label>
                  <div class="form-row">
                    <div class="col-md-6">
                      <select class="form-control mb-2" required>
                        <option disabled selected>-- Select --</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="2">3</option>
                      </select>
                    </div>
                    <div class="col-md-6">
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Document Category</label>
                  <div class="form-row">
                    <div class="col-md-6">
                      <select class="form-control mb-2" required>
                        <option disabled selected>-- Select --</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="2">3</option>
                      </select>
                    </div>
                    <div class="col-md-6">
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Next Review Date </label>
                  <input type="date" class="form-control" />
                </div>
              </div>

              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Specification Reference </label>
                      <input type="text" class="form-control" />
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Document Password </label>
                      <input
                        type="text"
                        class="form-control"
                        disabled
                        placeholder="@#$SDWEED"
                      />
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Submission Agency</label>
                      <div class="form-row">
                        <div class="col-md-6">
                          <select class="form-control mb-2" required>
                            <option disabled selected>-- Select --</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="2">3</option>
                          </select>
                        </div>
                        <div class="col-md-6">
                          <input type="text" class="form-control" />
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Document Retention Period</label>
                      <select class="form-control mb-2" required>
                        <option disabled selected>-- Select --</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="2">3</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Document Upload</label>
                      <div class="form-row">
                        <div class="col-md-10">
                          <input type="file" class="form-control" />
                        </div>
                        <div class="col-md-2">
                          <a routerLink="/" class="btn btn-primary mr-3">
                            <i class="fas fa-plus"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <p class="mb-0">
                      <span class="mr-3">filename.txt</span>
                      <a href="#"><i class="fas fa-trash small"></i></a>
                    </p>
                    <p class="mb-0">
                      <span class="mr-3">filename.txt</span>
                      <a href="#"><i class="fas fa-trash small"></i></a>
                    </p>
                    <p class="mb-0">
                      <span class="mr-3">filename.pdf</span>
                      <a href="#"><i class="fas fa-trash small"></i></a>
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group mt-2">
                  <a routerLink="/" class="btn btn-primary mr-3"> Submit </a>
                  <a routerLink="/" class="btn btn-primary">Clear </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
