<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Discount - Generate Code</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
          <li class="breadcrumb-item active">Discount - Generate Code</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <div class="row">
    <div class="col-sm-12">
      <div class="card card-table">
        <div class="card-body">
          <div class="card mb-0">
            <div class="card-body">
              <form class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Discount Code </label>
                    <input type="text" class="form-control" placeholder="" />
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label>Discount Validity </label>
                    <input
                      type="text"
                      class="form-control"
                      disabled
                      placeholder="auto"
                    />
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label>Discount Valid Till </label>
                    <input
                      type="text"
                      class="form-control"
                      disabled
                      placeholder="auto"
                    />
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group mt-3">
                    <a routerLink="/" class="btn btn-primary"> Check </a>
                  </div>

                  <div class="alert alert-success" style="width: 300px">
                    Validation Success
                  </div>

                  <div class="alert alert-danger" style="width: 300px">
                    Not Valid
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
