<div class="content container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card card-table">
        <div class="card-body">
          <div class="card mb-0">
            <div class="card-body">
              <form class="row">
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Student ID </label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Auto"
                          disabled
                        />
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Date </label>
                        <input type="date" class="form-control" />
                      </div>
                    </div>

                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-8">
                          <iframe
                            src="https://research.google.com/pubs/archive/44678.pdf"
                            width="100%"
                            height="650px"
                          >
                          </iframe>
                        </div>

                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Total Question Marked</label>
                            <input
                              type="text"
                              class="form-control"
                              placeholder="Auto"
                              disabled
                            />
                          </div>

                          <div class="form-group">
                            <label>Question No </label>
                            <input
                              type="text"
                              class="form-control"
                              placeholder="Auto"
                              disabled
                            />
                          </div>

                          <div class="form-group">
                            <label>Marks given </label>
                            <input type="text" class="form-control" />
                          </div>

                          <div class="form-group">
                            <label>Remarks if any </label>
                            <input type="text" class="form-control" />
                          </div>

                          <div class="form-group mt-4">
                            <a routerLink="/" class="btn btn-success mr-2">
                              Submit Mark
                            </a>
                            <a routerLink="/" class="btn btn-primary">
                              Save & Exit
                            </a>
                          </div>

                          <div class="form-group mt-4">
                            <a
                              routerLink="/assessment/assessment-answer-paper-correction"
                              class="btn btn-secondary"
                            >
                              End Correction
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
