<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Attendance Course Forecast</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
          <li class="breadcrumb-item active">Attendance Course Forecast</li>
        </ul>
      </div>
      <div class="col-auto text-right float-right ml-auto">
        <a routerLink="/" class="btn btn-primary"
          ><i class="fas fa-plus"></i> Add
        </a>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <div class="row">
    <div class="col-sm-12">
      <div class="card card-table">
        <div class="card-body">
          <div class="accordion" id="accordionExample">
            <div class="card mb-0">
              <div
                class="card-header p-2"
                id="headingOne"
                style="background-color: #f5f5f5"
              >
                <h2 class="mb-0">
                  <button
                    class="btn btn-link btn-block text-left"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  ></button>
                </h2>
              </div>

              <div
                id="collapseOne"
                class="collapse show"
                aria-labelledby="headingOne"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  <form class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Teaching Mode</label>
                        <select class="select2 form-control" required>
                          <option disabled selected>-- Select --</option>
                          <option value="1">12312</option>
                          <option value="2">22123</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Training Organization</label>
                        <select class="select2 form-control" required>
                          <option disabled selected>-- Select --</option>
                          <option value="1">1</option>
                          <option value="2">1</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Venue, Classroom ID </label>
                        <select class="select2 form-control" required>
                          <option disabled selected>-- Select --</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Course Name </label>
                        <select class="select2 form-control" required>
                          <option disabled>-- Select --</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="2">3</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Course ID </label>
                        <select class="select2 form-control" required>
                          <option disabled selected>-- Select --</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="2">3</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Course Batch ID </label>
                        <select class="select2 form-control" required>
                          <option disabled selected>-- Select --</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="2">3</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Languages </label>
                        <select class="select2 form-control" required multiple>
                          <option disabled>-- Select --</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="2">3</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group mt-4">
                        <a routerLink="/" class="btn btn-primary"> Update </a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <!-- table -->
          <div class="table-responsive smallinput mt-5">
            <table
              datatable
              [dtOptions]="dtOptions"
              class="datatable table table-stripped"
            >
              <thead class="bg bg-secondary">
                <tr class="text-white">
                  <th>SN</th>
                  <th>Teaching Mode</th>
                  <th>Training Organization</th>
                  <th>Course Name</th>
                  <th>Couse ID</th>
                  <th>Batch ID</th>
                  <th>Language</th>
                  <th>Month</th>
                  <th>Date</th>
                  <th>Class Size</th>
                  <th>Slots Available</th>
                  <th>Student Name</th>
                  <th>Resource Needed</th>
                  <th>Remarks</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>
                    <div class="form-group">
                      <select class="custom-select" required>
                        <option value="" disabled selected>--select ---</option>
                        <option value="1">Synchronus Online</option>
                        <option value="2">Blended Online</option>
                        <option value="3">3</option>
                      </select>
                    </div>
                  </td>

                  <td>
                    <div class="form-group">
                      <select class="custom-select" required>
                        <option value="" disabled selected>--select ---</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                      </select>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <select class="select2 custom-select" required>
                        <option value="" disabled selected>--select ---</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                      </select>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="test"
                        disabled
                      />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="test"
                        disabled
                      />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <select class="select2 custom-select" required multiple>
                        <option value="" disabled>--select ---</option>
                        <option value="1">English</option>
                        <option value="2">Tamil</option>
                        <option value="3">3</option>
                      </select>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="month" class="form-control" placeholder="" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="date" class="form-control" placeholder="" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="25"
                        disabled
                      />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <select class="select2 custom-select" required multiple>
                        <option value="" disabled>--select ---</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                      </select>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="test"
                        disabled
                      />
                    </div>
                  </td>

                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" />
                    </div>
                  </td>

                  <td>
                    <div class="actions">
                      <a
                        routerLink="/"
                        class="btn btn-sm bg-success-light mr-2"
                      >
                        <i class="fas fa-pen"></i>
                      </a>

                      <a href="#" class="btn btn-sm bg-danger-light">
                        <i class="fas fa-trash"></i>
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
