<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row">
      <div class="col">
        <h3 class="page-title">Course Add</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
          <li class="breadcrumb-item active">Add Course</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <div class="row">
    <div class="col-sm-12">
      <!-- Supported Elements -->
      <div class="card">
        <div class="card-body">
          <form class="row">
            <div class="col-lg-6">
              <div class="form-row">
                <div class="col-md-12">
                  <label>Training Organization</label>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <select class="select2 form-control" required>
                      <option disabled selected>-- Select --</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    required
                  />
                </div>
              </div>

              <div class="form-row">
                <div class="col-md-12">
                  <label>Subject</label>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <select class="select2 form-control" required>
                      <option disabled selected>-- Select --</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    required
                  />
                </div>
              </div>

              <div class="form-row">
                <div class="col-md-12">
                  <label>Course category</label>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <select class="select2 form-control" required>
                      <option disabled selected>-- Select --</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    required
                  />
                </div>
              </div>

              <div class="form-group">
                <label for="">Course Code</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder=""
                  required
                />
              </div>
              <div class="form-group">
                <label for="">Total Days</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder=""
                  required
                />
              </div>
              <div class="form-group">
                <label for="">Course Fees</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder=""
                  required
                />
              </div>

              <div class="form-row">
                <div class="col-md-12">
                  <label>Job Level</label>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <select class="select2 form-control" required>
                      <option disabled selected>-- Select --</option>
                      <option value="1">Executive</option>
                      <option value="2">Manager</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    required
                  />
                </div>
              </div>

              <div class="form-row">
                <div class="col-md-12">
                  <label>Language</label>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <select class="select2 form-control" required>
                      <option disabled selected>-- Select --</option>
                      <option value="1">English</option>
                      <option value="2">Chinese (Mandarin)</option>
                      <option value="4">Malay</option>
                      <option value="5">Urudu</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    required
                    disabled
                  />
                </div>
              </div>

              <div>
                <div class="form-group">
                  <label for="">Maximum Class Size</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="">Passing Mark</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="">Objectives</label>
                  <textarea class="form-control" id="" rows="2"></textarea>
                </div>
                <div class="form-group">
                  <label for="">Videos</label>
                  <select class="select2 form-control" required>
                    <option disabled selected>-- Select --</option>
                    <option value="1">Yes</option>
                    <option value="2">No</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- end col-6 -->
            <!-- col-6 -->
            <div class="col-lg-6">
              <div class="form-row">
                <div class="col-md-12">
                  <label>Teaching mode</label>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <select class="select2 form-control" required>
                      <option disabled selected>-- Select --</option>
                      <option value="1">Online</option>
                      <option value="2">Offline</option>
                      <option value="3">Class Room</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-5">
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    required
                  />
                </div>
                <div class="col-md-2">
                  <a href="#" class="btn bg-danger text-white">
                    <i class="fas fa-plus"></i> Add
                  </a>
                </div>
              </div>

              <div class="form-row">
                <div class="col-md-12">
                  <label for="">Planned Venue</label>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <select class="select2 form-control" required>
                      <option disabled selected>-- Select --</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-5">
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    required
                  />
                </div>
                <div class="col-md-2">
                  <a href="#" class="btn bg-danger text-white">
                    <i class="fas fa-plus"></i> Add
                  </a>
                </div>
              </div>

              <div class="form-group">
                <label for="">Course Name</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder=""
                  required
                />
              </div>

              <div class="form-row">
                <div class="col-md-12">
                  <label>Course Level</label>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <select class="select2 form-control" required>
                      <option disabled selected>-- Select --</option>
                      <option value="1">Introductory</option>
                      <option value="2">Intermediatory</option>
                      <option value="3">Expert</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    required
                  />
                </div>
              </div>

              <div class="form-group">
                <label for="">Total Hours</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder=""
                  required
                />
              </div>

              <div class="form-row">
                <div class="col-md-12">
                  <label>Course Type</label>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <select class="select2 form-control" required>
                      <option disabled selected>-- Select --</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    required
                  />
                </div>
              </div>

              <div class="form-group">
                <label for="">Who is this course For</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder=""
                  required
                />
              </div>
              <div class="form-group">
                <label for="">Attendance Required</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder=""
                  required
                />
              </div>
              <div class="form-group">
                <label for="">Minimum Class Size</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder=""
                  required
                />
              </div>
              <div class="form-group">
                <label for="">Course Description</label>
                <textarea class="form-control" id="" rows="2"></textarea>
              </div>

              <div class="form-group">
                <label for="">No. of Lectures / Lessons</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder=""
                  required
                />
              </div>
              <div class="form-group">
                <label for="">Additional Requirements</label>
                <textarea class="form-control" id="" rows="2"></textarea>
              </div>
            </div>
            <!-- row end -->

            <!-- col - 12 -->
            <div class="col-lg-12">
              <div class="row">
                <div class="col-md-12">
                  <p class="text-success">Course Administration</p>
                </div>

                <div class="col-lg-6">
                  <div class="form-row">
                    <div class="col-md-12">
                      <label>Certificate Type</label>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <select class="select2 form-control" required>
                          <option disabled selected>-- Select --</option>
                          <option value="1">Offline</option>
                          <option value="2">Online</option>
                          <option value="3">Others</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        disabled
                      />
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-md-12">
                      <label>Card</label>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <select class="select2 form-control" required>
                          <option disabled selected>-- Select --</option>
                          <option value="1">Template1</option>
                          <option value="2">Template2</option>
                          <option value="3">Template3</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        disabled
                      />
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Attempts Allowed </label>
                    <select class="select2 form-control" required>
                      <option disabled selected>-- Select --</option>
                      <option value="1">NO</option>
                      <option value="2">Unlimited</option>
                      <option value="3">3</option>
                      <option value="4">5</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Batch Applicability </label>
                    <select class="select2 form-control" required>
                      <option disabled selected>-- Select --</option>
                      <option value="1">YES</option>
                      <option value="2">NO</option>
                    </select>
                  </div>

                  <div class="form-row">
                    <div class="col-md-12">
                      <label>Approvals Needed</label>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <select class="select2 form-control" required>
                          <option disabled selected>-- Select --</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">Manaual</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        disabled
                      />
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-md-12">
                      <label>Assessment Planned</label>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <select class="select2 form-control" required>
                          <option disabled selected>-- Select --</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">Manaual</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        disabled
                      />
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-md-12">
                      <label>Assessment Type</label>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <select class="select2 form-control" required>
                          <option disabled selected>-- Select --</option>
                          <option value="1">Auto</option>
                          <option value="3">Manaual</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        disabled
                      />
                    </div>
                  </div>
                  <!-- end col6 -->
                </div>
                <!-- end col6 -->
                <!-- col-6 -->
                <div class="col-lg-6">
                  <div class="form-row">
                    <div class="col-md-12">
                      <label>Certificate Template</label>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <select class="select2 form-control" required>
                          <option disabled selected>-- Select --</option>
                          <option value="1">Template1</option>
                          <option value="2">Template2</option>
                          <option value="3">Template3</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        disabled
                      />
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Assessment</label>
                    <div class="">
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="inlineCheckbox1"
                          value="option1"
                        />
                        <label class="form-check-label" for="inlineCheckbox1"
                          >Written</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="inlineCheckbox2"
                          value="option2"
                        />
                        <label class="form-check-label" for="inlineCheckbox2"
                          >Practical</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="inlineCheckbox3"
                          value="option3"
                        />
                        <label class="form-check-label" for="inlineCheckbox4"
                          >Oral
                        </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="inlineCheckbox4"
                          value="option4"
                        />
                        <label class="form-check-label" for="inlineCheckbox4"
                          >Others
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-12 mt-3">
                      <label for="">Assessment Code </label>
                    </div>
                    <div class="col-md-3">
                      <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        required
                      />
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <select class="select2 form-control" required>
                          <option disabled selected>-- Select --</option>
                          <option value="1">Written</option>
                          <option value="2">Practical</option>
                          <option value="3">Oral</option>
                          <option value="4">Others</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        required
                      />
                    </div>

                    <div class="col-md-3">
                      <div class="form-group form-control">
                        <input
                          type="file"
                          class="form-control-file"
                          id="exampleFormControlFile1"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-12">
                      <label for="">Batch Numbering Type</label>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <select class="select2 form-control" required>
                          <option disabled selected>-- Select --</option>
                          <option value="1">Auto</option>
                          <option value="2">Manual</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          placeholder=""
                          required
                        />
                      </div>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-md-12">
                      <label>Approved Trainers</label>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <select class="select2 form-control" required>
                          <option disabled selected>-- Select --</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">Manual</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        disabled
                      />
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-md-12">
                      <label>Assessment by Trainers</label>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <select class="select2 form-control" required>
                          <option disabled selected>-- Select --</option>
                          <option value="1">Lesson Based only</option>
                          <option value="2">Full Course only</option>
                          <option value="2">No - Final Assessments</option>
                          <option value="2">No - Full Assessments</option>
                          <option value="3">Manual</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        disabled
                      />
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-md-12">
                      <label>Assessment Checklist</label>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <input type="text" class="form-control" id="" />
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <input
                          type="file"
                          class="form-control-file form-control"
                          id=""
                        />
                      </div>
                    </div>
                    <div class="col-md-2">
                      <a href="#" class="btn bg-danger text-white">
                        <i class="fas fa-plus"></i> Create
                      </a>
                    </div>
                  </div>
                </div>
                <!-- end col6 -->
              </div>
              <!-- end row -->

              <!-- start row -->
              <div class="row mt-4">
                <div class="col-md-12">
                  <p class="text-success">Course Approvals</p>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Course approval date </label>
                    <input
                      type="date"
                      class="form-control"
                      placeholder=""
                      required
                    />
                  </div>
                  <div class="form-row">
                    <div class="col-md-12">
                      <label for="">Government Grant Approved </label>
                    </div>
                    <div class="col-md-6">
                      <label for="">From</label>
                      <div class="form-group">
                        <input
                          type="date"
                          class="form-control"
                          placeholder=""
                          required
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label for="">To</label>
                      <div class="form-group">
                        <input
                          type="date"
                          class="form-control"
                          placeholder=""
                          required
                        />
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Government Grant Availability</label>
                    <select class="select2 form-control" required>
                      <option disabled selected>-- Select --</option>
                      <option value="1">YES</option>
                      <option value="2">NO</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="">Renewal Deadline</label>
                    <input
                      type="date"
                      class="form-control"
                      placeholder=""
                      required
                    />
                  </div>
                  <!-- end col6 -->
                </div>
                <!-- col-6  -->
                <div class="col-md-6">
                  <div class="form-row">
                    <div class="col-md-12">
                      <label>Government Grant Agency</label>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <select class="select2 form-control" required>
                          <option disabled selected>-- Select --</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">Manaual</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        disabled
                      />
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-md-12">
                      <label for="">Eligible for Claim Period </label>
                    </div>
                    <div class="col-md-6">
                      <label for="">From</label>
                      <div class="form-group">
                        <input
                          type="date"
                          class="form-control"
                          placeholder=""
                          required
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label for="">To</label>
                      <div class="form-group">
                        <input
                          type="date"
                          class="form-control"
                          placeholder=""
                          required
                        />
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="">Renewal Reminder ICFC</label>
                    <input
                      type="date"
                      class="form-control"
                      placeholder=""
                      required
                    />
                  </div>
                  <!-- end col6 -->
                </div>
              </div>
              <!-- end row -->
              <div class="row mt-4">
                <div class="col-md-12">
                  <p class="text-success">Course SEO</p>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Course SEO Description </label>
                    <textarea class="form-control" id="" rows="2"></textarea>
                    <p class="mt-0 small text-right">Min 416 Characters</p>
                  </div>
                  <div class="form-group">
                    <label>Course SEO Level</label>
                    <div class="clearfix">
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="inlineCheckbox11"
                          value="option1"
                        />
                        <label class="form-check-label" for="inlineCheckbox11"
                          >HOT</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="inlineCheckbox12"
                          value="option2"
                        />
                        <label class="form-check-label" for="inlineCheckbox12"
                          >NEW</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="inlineCheckbox13"
                          value="option3"
                        />
                        <label class="form-check-label" for="inlineCheckbox13"
                          >TRENDING
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="">Webpage Highlight </label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder=""
                      required
                    />
                  </div>

                  <!-- end col6 -->
                </div>
                <!-- col-6  -->
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Course SEO Keywords </label>
                    <textarea
                      class="form-control"
                      id=""
                      rows="2"
                      placeholder="eg: Course Name, Course Alt name"
                    ></textarea>
                  </div>
                  <div class="form-group">
                    <label for="">Order No of Web display</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder=""
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label for="courseImageUpload">Upload Course image </label>
                    <input
                      type="file"
                      class="form-control-file"
                      id="courseImageUpload"
                    />
                  </div>

                  <!-- end col6 -->
                </div>
              </div>

              <!-- end row -->
            </div>
            <div class="col-lg-12 mt-3">
              <button class="btn btn-primary" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
      <!-- /Supported Elements -->
    </div>
  </div>
</div>
