<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Complaint List</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
          <li class="breadcrumb-item active">Complaint List</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <div class="row">
    <div class="col-sm-12">
      <div class="card card-table">
        <div class="card-body">
          <!-- table -->
          <div class="table-responsive smallinput">
            <table
              datatable
              [dtOptions]="dtOptions"
              class="datatable table table-stripped"
            >
              <thead class="bg bg-secondary">
                <tr class="text-white">
                  <th>SN</th>
                  <th>Complaint Rating</th>
                  <th>Complaint No</th>
                  <th>Complainant</th>
                  <th>Complaint Details</th>
                  <th>Department under Complaint</th>
                  <th>Actions Taken</th>
                  <th>Status</th>
                  <th>Actions</th>
                  <th>Remarks</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="auto"
                        disabled
                      />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="auto"
                        disabled
                      />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="auto"
                        disabled
                      />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <a href="#">Link Here</a>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="auto"
                        disabled
                      />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="auto"
                        disabled
                      />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <select class="form-control" required>
                        <option disabled selected>-- Select --</option>
                        <option value="1">open</option>
                        <option value="2">closed</option>
                        <option value="2">progressing</option>
                      </select>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <select class="form-control" required>
                        <option disabled selected>-- Select --</option>
                        <option value="1">Add to todolist,</option>
                        <option value="2">Keep closed</option>
                      </select>
                    </div>
                  </td>

                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" />
                    </div>
                  </td>

                  <td>
                    <div class="form-group">
                      <a href="/" class="btn btn-primary btn-sm"> Submit </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
