<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row">
      <div class="col">
        <h3 class="page-title">
          Certificate Summary (course /Batch/ Language based)
        </h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
          <li class="breadcrumb-item active">Certificate</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table
              datatable
              [dtOptions]="dtOptions"
              class="datatable table table-stripped"
            >
              <thead class="bg bg-secondary">
                <tr class="text-white">
                  <th>S.No</th>
                  <th>Action</th>
                  <th>Course Code</th>
                  <th>Course Name</th>
                  <th>Language</th>
                  <th>Batch ID</th>
                  <th>Course Date From- to-</th>
                  <th>Assessment Date</th>
                  <th>Certificate Expiry Date</th>
                  <th>Attendance Result</th>
                  <th>Assessment Result</th>
                  <th>Certificate Issued by</th>
                  <th>Date of Issue</th>
                  <th>Issued by</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Submit</td>
                  <td>COUR24</td>
                  <td>Web</td>
                  <td>ENglish</td>
                  <td>BAt343</td>
                  <td>22-02-2022</td>
                  <td>10-02-2022</td>
                  <td>10-02-2023</td>
                  <td>85%</td>
                  <td>97%</td>
                  <td>ICFC</td>
                  <td>25-02-2022</td>
                  <td>ICFC N1</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-sm-12">
      <h3 class="page-title">Certificate Summary (Student based)</h3>
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table
              datatable
              [dtOptions]="dtOptions"
              class="datatable table table-stripped"
            >
              <thead class="bg bg-secondary">
                <tr class="text-white">
                  <th>S.No</th>
                  <th>Action</th>
                  <th>Course Code</th>
                  <th>Course Name</th>
                  <th>Language</th>
                  <th>Batch ID</th>
                  <th>Course Date From- to-</th>
                  <th>Assessment Date</th>
                  <th>Certificate Expiry Date</th>
                  <th>Attendance Result</th>
                  <th>Assessment Result</th>
                  <th>Certificate Issued by</th>
                  <th>Date of Issue</th>
                  <th>Issued by</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Submit</td>
                  <td>COUR24</td>
                  <td>Web</td>
                  <td>ENglish</td>
                  <td>BAt343</td>
                  <td>22-02-2022</td>
                  <td>10-02-2022</td>
                  <td>10-02-2023</td>
                  <td>85%</td>
                  <td>97%</td>
                  <td>ICFC</td>
                  <td>25-02-2022</td>
                  <td>ICFC N1</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
