<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Query List</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
          <li class="breadcrumb-item active">Query List</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <div class="row">
    <div class="col-sm-12">
      <div class="card card-table">
        <div class="card-body">
          <!-- table -->
          <div class="table-responsive smallinput">
            <table
              datatable
              [dtOptions]="dtOptions"
              class="datatable table table-stripped"
            >
              <thead class="bg bg-secondary">
                <tr class="text-white">
                  <th>SN</th>
                  <th>Query Rating</th>
                  <th>Query Date</th>
                  <th>Query No</th>
                  <th>Query Type</th>
                  <th>Nature of Query</th>
                  <th>Details of Query</th>
                  <th>Query Raised by</th>
                  <th>Query replied By</th>
                  <th>Query Closure Date</th>
                  <th>Query Status</th>
                  <th>Remarks</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Very High"
                        disabled
                      />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="auto"
                        disabled
                      />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Course application"
                        disabled
                      />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="auto"
                        disabled
                      />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="auto"
                        disabled
                      />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="auto"
                        disabled
                      />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="auto"
                        disabled
                      />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="auto"
                        disabled
                      />
                    </div>
                  </td>

                  <td>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="auto"
                        disabled
                      />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="auto"
                        disabled
                      />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" />
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
