<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Trainer New Approval</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
          <li class="breadcrumb-item active">Trainer New Approval</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <div class="row">
    <div class="col-sm-12">
      <div class="card card-table">
        <div class="card-body">
          <div class="accordion" id="accordionExample">
            <div class="card mb-0">
              <div
                class="card-header p-2"
                id="headingOne"
                style="background-color: #f5f5f5"
              >
                <h2 class="mb-0">
                  <button
                    class="btn btn-link btn-block text-left"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  ></button>
                </h2>
              </div>

              <div
                id="collapseOne"
                class="collapse show"
                aria-labelledby="headingOne"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  <form class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Training Organization</label>
                        <select class="select2 form-control" required>
                          <option disabled selected>-- Select --</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Trainer ID</label>
                        <select class="select2 form-control" required>
                          <option disabled selected>-- Select --</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Trainer Name</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder=""
                          disabled
                          value="ICFC N1"
                        />
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Course Name </label>
                        <select class="select2 form-control" required>
                          <option disabled>-- Select --</option>
                          <option value="1">Php</option>
                          <option value="2">C#</option>
                          <option value="2">Java</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-12">
                      <div class="form-row">
                        <div class="col-md-6">
                          <div class="form-row">
                            <div class="col-md-12">
                              <label>Course Category </label>
                            </div>
                            <div class="col-md-4">
                              <select class="select2 form-control" required>
                                <option disabled selected>-- Select --</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="2">3</option>
                              </select>
                            </div>
                            <div class="col-md-4">
                              <input
                                type="file"
                                class="form-control"
                                placeholder=""
                              />
                            </div>
                            <div class="col-md-4">
                              <a href="/" class="btn btn-primary"
                                ><i class="fa fa-plus"></i> Add
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-row">
                            <div class="col-md-12">
                              <label> Course approved </label>
                            </div>
                            <div class="col-md-4">
                              <select class="select2 form-control" required>
                                <option disabled selected>-- Select --</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="2">3</option>
                              </select>
                            </div>
                            <div class="col-md-4">
                              <input
                                type="file"
                                class="form-control"
                                placeholder=""
                              />
                            </div>
                            <div class="col-md-4">
                              <a href="/" class="btn btn-primary"
                                ><i class="fa fa-plus"></i> Add
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="form-row mt-3">
                        <div class="col-md-6">
                          <div class="form-row">
                            <div class="col-md-12">
                              <label>Languages approved </label>
                            </div>
                            <div class="col-md-4">
                              <select class="select2 form-control" required>
                                <option disabled selected>-- Select --</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="2">3</option>
                              </select>
                            </div>
                            <div class="col-md-4">
                              <input
                                type="file"
                                class="form-control"
                                placeholder=""
                              />
                            </div>
                            <div class="col-md-4">
                              <a href="/" class="btn btn-primary"
                                ><i class="fa fa-plus"></i> Add
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-row">
                            <div class="col-md-12">
                              <label>Approved Role </label>
                            </div>
                            <div class="col-md-4">
                              <select class="select2 form-control" required>
                                <option disabled selected>-- Select --</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="2">3</option>
                              </select>
                            </div>
                            <div class="col-md-4">
                              <input
                                type="file"
                                class="form-control"
                                placeholder=""
                              />
                            </div>
                            <div class="col-md-4">
                              <a href="/" class="btn btn-primary"
                                ><i class="fa fa-plus"></i> Add
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="form-row mt-3">
                        <div class="col-md-6">
                          <div class="form-row">
                            <div class="col-md-12">
                              <label>Approved on</label>
                            </div>
                            <div class="col-md-4">
                              <select class="select2 form-control" required>
                                <option disabled selected>-- Select --</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="2">3</option>
                              </select>
                            </div>
                            <div class="col-md-4">
                              <input
                                type="file"
                                class="form-control"
                                placeholder=""
                              />
                            </div>
                            <div class="col-md-4">
                              <a href="/" class="btn btn-primary"
                                ><i class="fa fa-plus"></i> Add
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-row">
                            <div class="col-md-12">
                              <label>Approved by </label>
                            </div>
                            <div class="col-md-4">
                              <select class="select2 form-control" required>
                                <option disabled selected>-- Select --</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="2">3</option>
                              </select>
                            </div>
                            <div class="col-md-4">
                              <input
                                type="text"
                                class="form-control"
                                placeholder=""
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group mt-4">
                        <a routerLink="/" class="btn btn-primary"> Update </a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- table -->
    <div class="col-sm-12">
      <div class="card card-table">
        <div class="card-body">
          <div class="table-responsive">
            <table
              datatable
              [dtOptions]="dtOptions"
              class="datatable table table-stripped"
            >
              <thead class="bg bg-secondary">
                <tr class="text-white">
                  <th>SN</th>
                  <th>Trainer ID</th>
                  <th>Trainer Name</th>
                  <th>Training Organization</th>
                  <th>Course approved</th>
                  <th>Approved Role</th>
                  <th>Languages approved</th>
                  <th>Approved on</th>
                  <th>Approved by</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>DF234</td>
                  <td><a href="#">ICFC N1</a></td>
                  <td>ABS Systemes</td>
                  <td>ICFC N1</td>
                  <td>Manager</td>
                  <td>Tamil</td>
                  <td>15-Feb-2022</td>
                  <td>John</td>
                  <td>
                    <a href="#" class="btn btn-sm btn-secondary mr-2"
                      ><i class="fa fa-edit"></i>
                    </a>
                    <a href="#" class="btn btn-sm btn-danger"
                      ><i class="fa fa-trash"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
