<div class="content container-fluid">
				
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Add Students</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="students.html">Students</a></li>
          <li class="breadcrumb-item active">Add Students</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <div class="row">
    <div class="col-sm-12">
    
      <div class="card">
        <div class="card-body">
          <form (ngSubmit)="addStudents()" [formGroup]="addStudentsForm">
            <div class="row">
              <div class="col-12">
                <h5 class="form-title"><span>Student Information</span></h5>
              </div>
              <div class="col-12 col-sm-6">  
                <div class="form-group">
                  <label>First Name</label>
                  <input type="text" class="form-control" [class.invalid]="addStudentsForm.get('FirstName').invalid && addStudentsForm.get('FirstName').touched"
                  formControlName="FirstName">
                  <div
                  *ngIf="addStudentsForm.get('FirstName').invalid && addStudentsForm.get('FirstName').touched">
                  <small
                      *ngIf="addStudentsForm.get('FirstName').invalid && addStudentsForm.get('FirstName').touched"
                      class="text-danger"> *Firstname is required</small>
              </div>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Last Name</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-12 col-sm-6">  
                <div class="form-group">
                  <label>Student Id</label>
                  <input type="text" class="form-control" [class.invalid]="addStudentsForm.get('studentId').invalid && addStudentsForm.get('studentId').touched"
                  formControlName="studentId">
                  <div
                  *ngIf="addStudentsForm.get('studentId').invalid && addStudentsForm.get('studentId').touched">
                  <small
                      *ngIf="addStudentsForm.get('studentId').invalid && addStudentsForm.get('studentId').touched"
                      class="text-danger"> *StudentId is required</small>
              </div>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Gender</label>
                  <select class="form-control">
                    <option>Select Gender</option>
                    <option>Female</option>
                    <option>Male</option>
                    <option>Others</option>
                    </select>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Date of Birth</label>
                  <div>
                    <input type="date" class="form-control" [class.invalid]="addStudentsForm.get('dob').invalid && addStudentsForm.get('dob').touched"
                    formControlName="dob">
                    <div
                    *ngIf="addStudentsForm.get('dob').invalid && addStudentsForm.get('dob').touched">
                    <small
                        *ngIf="addStudentsForm.get('dob').invalid && addStudentsForm.get('dob').touched"
                        class="text-danger"> *DOB is required</small>
                </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Class</label>
                  <input type="text" class="form-control" [class.invalid]="addStudentsForm.get('class').invalid && addStudentsForm.get('class').touched"
                  formControlName="class">
                  <div
                  *ngIf="addStudentsForm.get('class').invalid && addStudentsForm.get('class').touched">
                  <small
                      *ngIf="addStudentsForm.get('class').invalid && addStudentsForm.get('class').touched"
                      class="text-danger"> *Class is required</small>
              </div>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Religion</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Joining Date</label>
                  <div>
                    <input type="date" class="form-control">
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Mobile Number</label>
                  <input type="text" class="form-control" [class.invalid]="addStudentsForm.get('mobileNumber').invalid && addStudentsForm.get('mobileNumber').touched"
                  formControlName="mobileNumber">
                  <div
                    *ngIf="addStudentsForm.get('mobileNumber').invalid && addStudentsForm.get('mobileNumber').touched">
                    <small
                        *ngIf="addStudentsForm.get('mobileNumber').invalid && addStudentsForm.get('mobileNumber').touched"
                        class="text-danger"> *Mobilenumber is required</small>
                </div>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Admission Number</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Section</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Student Image</label>
                  <input type="file" class="form-control">
                </div>
              </div>
              
              <div class="col-12">
                <h5 class="form-title"><span>Parent Information</span></h5>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Father's Name</label>
                  <input type="text" class="form-control" [class.invalid]="addStudentsForm.get('fathersName').invalid && addStudentsForm.get('fathersName').touched"
                  formControlName="fathersName">
                  <div
                  *ngIf="addStudentsForm.get('fathersName').invalid && addStudentsForm.get('fathersName').touched">
                  <small
                      *ngIf="addStudentsForm.get('fathersName').invalid && addStudentsForm.get('fathersName').touched"
                      class="text-danger"> *FathersName is required</small>
              </div>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Father's Occupation</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Father's Mobile</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Father's Email</label>
                  <input type="email" class="form-control">
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group" >
                  <label>Mother's Name</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Mother's Occupation</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Mother's Mobile</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Mother's Email</label>
                  <input type="email" class="form-control">
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Present Address</label>
                  <textarea class="form-control"></textarea>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Permanent Address</label>
                  <textarea class="form-control" [class.invalid]="addStudentsForm.get('address').invalid && addStudentsForm.get('address').touched"
                  formControlName="address"></textarea>
                  <div
                  *ngIf="addStudentsForm.get('address').invalid && addStudentsForm.get('address').touched">
                  <small
                      *ngIf="addStudentsForm.get('address').invalid && addStudentsForm.get('address').touched"
                      class="text-danger"> *Address is required</small>
              </div>
                </div>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>							
    </div>					
  </div>					
</div>