<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Appeal Management</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
          <li class="breadcrumb-item active">Appeal Management</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <div class="row">
    <div class="col-sm-12">
      <div class="card card-table">
        <div class="card-body">
          <div class="card mb-0">
            <div class="card-body">
              <form class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Appeal Date </label>
                    <input
                      type="text"
                      class="form-control"
                      disabled
                      placeholder="21-02-2022"
                    />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Appeal Number </label>
                    <input
                      type="text"
                      class="form-control"
                      disabled
                      placeholder="23434"
                    />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Details of Appeal </label>
                    <input
                      type="text"
                      class="form-control"
                      disabled
                      placeholder="Auto"
                    />
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label> Nature Of Appeal</label>
                    <select class="select2 form-control" required>
                      <option disabled selected>-- Select --</option>
                      <option value="1">Application</option>
                      <option value="2">Funding/Grant</option>
                      <option value="3">Invoice</option>
                      <option value="3">Refund</option>
                      <option value="3">Course Results</option>
                      <option value="3">Course Attenance</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label>Appeal Made by </label>
                    <input
                      type="text"
                      class="form-control"
                      disabled
                      placeholder="Auto"
                    />
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label>Appeal Rating </label>
                    <select class="select2 form-control" required>
                      <option disabled>-- Select --</option>
                      <option value="1">Very High</option>
                      <option value="2">High</option>
                      <option value="3">Medium</option>
                      <option value="4">Low</option>
                      <option value="5">Negligible</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label>Appeal Assigned To</label>
                    <select class="select2 form-control" required>
                      <option disabled selected>-- Select --</option>
                      <option value="1">Manager</option>
                      <option value="2">Supervisor</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Planned Due Date </label>
                    <input type="date" class="form-control" placeholder="" />
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label>Actions Proposed </label>
                    <input class="form-control" type="text" />
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label>Reply Comments </label>
                    <input class="form-control" type="text" />
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label>Final replies </label>
                    <input class="form-control" type="text" />
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label>Post response </label>
                    <input class="form-control" type="text" />
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label>Appeal Status </label>
                    <select class="select2 form-control" required>
                      <option disabled selected>-- Select --</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label>Appeal Closure Date </label>
                    <input
                      type="text"
                      class="form-control"
                      disabled
                      placeholder="Auto"
                    />
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label>Remarks </label>
                    <input type="text" class="form-control" />
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Actions Taken </label>
                        <div class="form-row">
                          <div class="col-md-10">
                            <input type="text" class="form-control mb-2" />
                            <input type="file" class="form-control" />
                          </div>
                          <div class="col-md-2">
                            <a href="#" class="btn btn-primary">
                              <i class="fas fa-plus"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Replies comments review </label>
                        <div class="form-row">
                          <div class="col-md-10">
                            <input type="text" class="form-control mb-2" />
                            <input type="file" class="form-control" />
                          </div>
                          <div class="col-md-2">
                            <a href="#" class="btn btn-primary">
                              <i class="fas fa-plus"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group mt-4">
                    <a routerLink="/" class="btn btn-primary"> Submit </a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
