<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row">
      <div class="col">
        <h3 class="page-title">ICFC Course Proposal</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
          <li class="breadcrumb-item active">ICFC Course Proposal Add</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <!-- lesson form row -->

  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <form class="row">
            <!-- row start -->
            <div class="col-md-6">
              <div class="form-group">
                <label>Course Projected Area</label>
                <select class="select2 form-control" required multiple>
                  <option disabled>-- Select --</option>
                  <option value="1">International</option>
                  <option value="2">Other Countries</option>
                </select>
              </div>

              <div class="form-group">
                <label>Training Mode</label>
                <select class="select2 form-control" required>
                  <option disabled selected>-- Select --</option>
                  <option value="1">Classroom</option>
                  <option value="2">Online Blended</option>
                  <option value="3">Online Synchronous</option>
                </select>
              </div>

              <div class="form-group">
                <label for="">Learner cost - Surveyed</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder=""
                  required
                />
              </div>

              <div class="form-group">
                <label for="">Investment needed</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder=""
                  required
                />
              </div>

              <div class="form-group">
                <label for="">Requirement gathering</label>
                <div class="form-row">
                  <div class="col-md-6">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="No of days"
                      required
                    />
                  </div>
                  <div class="col-md-6">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="No of months"
                      required
                    />
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="">Courseware development</label>
                <div class="form-row">
                  <div class="col-md-6">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="No of days"
                      required
                    />
                  </div>
                  <div class="col-md-6">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="No of months"
                      required
                    />
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="">Course test run (technical)</label>
                <div class="form-row">
                  <div class="col-md-6">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="No of days"
                      required
                    />
                  </div>
                  <div class="col-md-6">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="No of months"
                      required
                    />
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="">Learner Availability</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder=""
                  required
                />
              </div>

              <div class="form-group">
                <label>Audience Skillset</label>
                <select class="form-control" required>
                  <option disabled selected>-- Select --</option>
                  <option value="1">Managerial</option>
                  <option value="2">Executive</option>
                  <option value="3">Staff</option>
                  <option value="4">Workers</option>
                  <option value="4">Others</option>
                </select>
              </div>

              <div class="form-group">
                <label for="">Approvals Needed</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder=""
                  required
                />
              </div>

              <div class="form-group">
                <label for="">Course Developer Requirements</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder=""
                  required
                />
              </div>

              <div class="form-group">
                <label>Team Requirements</label>
                <select class="form-control" required>
                  <option disabled selected>-- Select --</option>
                  <option value="1">Available</option>
                  <option value="2">Not Available</option>
                  <option value="3">Others</option>
                </select>
              </div>

              <div class="form-group">
                <label for="">Budget Required</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder=""
                  required
                />
              </div>

              <div class="form-group">
                <label for="">Comments</label>
                <textarea class="form-control" id="" rows="2"></textarea>
              </div>

              <!-- end col-6 -->
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label>Targeted Countries</label>
                <select class="select2 form-control" required multiple>
                  <option disabled>-- Select --</option>
                  <option value="1">India</option>
                  <option value="2">Singapore</option>
                  <option value="2">Malaysia</option>
                </select>
              </div>

              <div class="form-row">
                <div class="col-md-12">
                  <label for="">Anticipated Volume / year</label>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Ex:2014"
                      required
                    />
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="ex:3years"
                      required
                    />
                  </div>
                </div>
                <div class="col-md-2">
                  <a href="#" class="btn bg-danger text-white">
                    <i class="fas fa-plus"></i> Add
                  </a>
                </div>
              </div>

              <div class="form-group">
                <label for="">Learner cost - Proposed</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder=""
                  required
                />
              </div>

              <div class="form-group">
                <label for="">Course Development Timeline - Proposed</label>
                <div class="form-row">
                  <div class="col-md-6">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="No of days"
                      required
                    />
                  </div>
                  <div class="col-md-6">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="No of months"
                      required
                    />
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="">Course Design</label>
                <div class="form-row">
                  <div class="col-md-6">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="No of days"
                      required
                    />
                  </div>
                  <div class="col-md-6">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="No of months"
                      required
                    />
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="">Course material development</label>
                <div class="form-row">
                  <div class="col-md-6">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="No of days"
                      required
                    />
                  </div>
                  <div class="col-md-6">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="No of months"
                      required
                    />
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="">Course admin online management</label>
                <div class="form-row">
                  <div class="col-md-6">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="No of days"
                      required
                    />
                  </div>
                  <div class="col-md-6">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="No of months"
                      required
                    />
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="">Targeted Audience</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder=""
                  required
                />
              </div>

              <div class="form-group">
                <label>Stakeholder/s</label>
                <select class="select2 form-control" required multiple>
                  <option disabled>-- Select --</option>
                  <option value="1">SME</option>
                  <option value="2">MOE</option>
                  <option value="2">Venus</option>
                </select>
              </div>

              <div class="form-group">
                <label>Reference Materials </label>
                <select class="form-control" required>
                  <option disabled selected>-- Select --</option>
                  <option value="1">Available</option>
                  <option value="2">Not Available</option>
                  <option value="3">Others</option>
                </select>
              </div>

              <div class="form-group">
                <label for="">Course Materials Platform </label>
                <textarea class="form-control" id="" rows="2"></textarea>
              </div>

              <div class="form-group">
                <label>IT Requirements</label>
                <select class="form-control" required>
                  <option disabled selected>-- Select --</option>
                  <option value="1">Available</option>
                  <option value="2">Not Available</option>
                  <option value="3">Others</option>
                </select>
              </div>

              <div class="form-group">
                <label>Infrastructure Requirements</label>
                <select class="form-control" required>
                  <option disabled selected>-- Select --</option>
                  <option value="1">Available</option>
                  <option value="2">Not Available</option>
                  <option value="3">Others</option>
                </select>
              </div>

              <div class="form-group">
                <label for="">Competitor Details</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder=""
                  required
                />
              </div>

              <!-- end col 6 -->
            </div>
            <!-- col-12 -->
            <div class="col-lg-12 mt-3">
              <button class="btn btn-primary" type="submit">Submit</button>
            </div>
            <!-- end row -->
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>
