<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="page-title">Welcome Admin!</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item active">Dashboard</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <!-- Overview Section -->
  <div class="row overviewlinks">
    <div class="col-md-2 col-sm-6 col-6">
      <a
        routerLink="/approval-document/documentation-management"
        class="text-dark"
      >
        <div class="card">
          <div class="card-body">
            <div class="db-widgets align-items-center text-center">
              <div class="d-inline-block mb-3">
                <img height="60" src="assets/img/logo-small.png" />
              </div>
              <div class="db-info">
                <p class="mb-0">Approval Documents</p>
              </div>
            </div>
          </div>
        </div></a
      >
    </div>

    <div class="col-md-2 col-sm-6 col-6">
      <a
        routerLink="/courseattendance/attendance-course-start"
        class="text-dark"
      >
        <div class="card">
          <div class="card-body">
            <div class="db-widgets align-items-center text-center">
              <div class="d-inline-block mb-3">
                <img height="60" src="assets/img/logo-small.png" />
              </div>
              <div class="db-info">
                <p class="mb-0">Attendance Management</p>
              </div>
            </div>
          </div>
        </div></a
      >
    </div>

    <div class="col-md-2 col-sm-6 col-6">
      <a routerLink="/assessment/assessment-plan" class="text-dark">
        <div class="card">
          <div class="card-body">
            <div class="db-widgets align-items-center text-center">
              <div class="d-inline-block mb-3">
                <img height="60" src="assets/img/logo-small.png" />
              </div>
              <div class="db-info">
                <p class="mb-0">Assessments And Feedback</p>
              </div>
            </div>
          </div>
        </div></a
      >
    </div>

    <div class="col-md-2 col-sm-6 col-6">
      <a routerLink="/certificate/certificate-template" class="text-dark">
        <div class="card">
          <div class="card-body">
            <div class="db-widgets align-items-center text-center">
              <div class="d-inline-block mb-3">
                <img height="60" src="assets/img/logo-small.png" />
              </div>
              <div class="db-info">
                <p class="mb-0">Certificate Management</p>
              </div>
            </div>
          </div>
        </div></a
      >
    </div>

    <div class="col-md-2 col-sm-6 col-6">
      <a
        routerLink="/complaint/complaint-management-response"
        class="text-dark"
      >
        <div class="card">
          <div class="card-body">
            <div class="db-widgets align-items-center text-center">
              <div class="d-inline-block mb-3">
                <img height="60" src="assets/img/logo-small.png" />
              </div>
              <div class="db-info">
                <p class="mb-0">Complaints Appeal Technical Management</p>
              </div>
            </div>
          </div>
        </div></a
      >
    </div>

    <div class="col-md-2 col-sm-6 col-6">
      <a routerLink="/corporate/corporate-list" class="text-dark">
        <div class="card">
          <div class="card-body">
            <div class="db-widgets align-items-center text-center">
              <div class="d-inline-block mb-3">
                <img height="60" src="assets/img/logo-small.png" />
              </div>
              <div class="db-info">
                <p class="mb-0">Corporate Management</p>
              </div>
            </div>
          </div>
        </div></a
      >
    </div>

    <div class="col-md-2 col-sm-6 col-6">
      <a routerLink="/course/course-list" class="text-dark">
        <div class="card">
          <div class="card-body">
            <div class="db-widgets align-items-center text-center">
              <div class="d-inline-block mb-3">
                <img height="60" src="assets/img/logo-small.png" />
              </div>
              <div class="db-info">
                <p class="mb-0">Course Management</p>
              </div>
            </div>
          </div>
        </div></a
      >
    </div>

    <div class="col-md-2 col-sm-6 col-6">
      <a routerLink="/discount/discount-generate-code" class="text-dark">
        <div class="card">
          <div class="card-body">
            <div class="db-widgets align-items-center text-center">
              <div class="d-inline-block mb-3">
                <img height="60" src="assets/img/logo-small.png" />
              </div>
              <div class="db-info">
                <p class="mb-0">Discount Management</p>
              </div>
            </div>
          </div>
        </div></a
      >
    </div>

    <div class="col-md-2 col-sm-6 col-6">
      <a routerLink="/finance/invoice-manual-mode" class="text-dark">
        <div class="card">
          <div class="card-body">
            <div class="db-widgets align-items-center text-center">
              <div class="d-inline-block mb-3">
                <img height="60" src="assets/img/logo-small.png" />
              </div>
              <div class="db-info">
                <p class="mb-0">Financial Management</p>
              </div>
            </div>
          </div>
        </div></a
      >
    </div>

    <div class="col-md-2 col-sm-6 col-6">
      <a routerLink="/staff/employee-list" class="text-dark">
        <div class="card">
          <div class="card-body">
            <div class="db-widgets align-items-center text-center">
              <div class="d-inline-block mb-3">
                <img height="60" src="assets/img/logo-small.png" />
              </div>
              <div class="db-info">
                <p class="mb-0">Staff Management</p>
              </div>
            </div>
          </div>
        </div></a
      >
    </div>

    <div class="col-md-2 col-sm-6 col-6">
      <a routerLink="/staff/employee-list" class="text-dark">
        <div class="card">
          <div class="card-body">
            <div class="db-widgets align-items-center text-center">
              <div class="d-inline-block mb-3">
                <img height="60" src="assets/img/logo-small.png" />
              </div>
              <div class="db-info">
                <p class="mb-0">Student Management</p>
              </div>
            </div>
          </div>
        </div></a
      >
    </div>

    <div class="col-md-2 col-sm-6 col-6">
      <a routerLink="/trainers/trainers-list" class="text-dark">
        <div class="card">
          <div class="card-body">
            <div class="db-widgets align-items-center text-center">
              <div class="d-inline-block mb-3">
                <img height="60" src="assets/img/logo-small.png" />
              </div>
              <div class="db-info">
                <p class="mb-0">Trainer Management</p>
              </div>
            </div>
          </div>
        </div></a
      >
    </div>
  </div>
  <!-- /Overview Section -->

  <div class="row">
    <div class="col-12 col-lg-4 col-xl-4 d-flex">
      <div class="card flex-fill">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-6">
              <h5 class="card-title text-dark">To Do</h5>
            </div>
            <div class="col-6">
              <span class="float-right view-link"
                ><a href="#">View All </a></span
              >
            </div>
          </div>
        </div>
        <div class="pt-3 pb-3">
          <div class="table-responsive lesson">
            <table class="table table-center">
              <thead>
                <tr>
                  <th>List</th>
                  <th>Date</th>
                  <th>Priority</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <p class="mb-0">Lessons</p>
                  </td>
                  <td>
                    <p class="mb-0">Aug 4, Tuesday</p>
                  </td>
                  <td>
                    <p class="mb-0">Level 5</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="mb-0">Lessons</p>
                  </td>
                  <td>
                    <p class="mb-0">Feb 4, Tuesday</p>
                  </td>
                  <td>
                    <p class="mb-0">Level 2</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="mb-0">Lessons</p>
                  </td>
                  <td>
                    <p class="mb-0">Aug 4, Tuesday</p>
                  </td>
                  <td>
                    <p class="mb-0">Level 5</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4 col-xl-4 d-flex">
      <div class="card flex-fill">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-6">
              <h5 class="card-title">Pending</h5>
            </div>
            <div class="col-6">
              <span class="float-right view-link"
                ><a href="#">View All </a></span
              >
            </div>
          </div>
        </div>
        <div class="pt-3 pb-3">
          <div class="table-responsive lesson">
            <table class="table table-center">
              <thead>
                <tr>
                  <th>What</th>
                  <th>When</th>
                  <th>Why</th>
                  <th>How</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <p class="mb-0">Lession</p>
                  </td>
                  <td>
                    <p class="mb-0">Test</p>
                  </td>
                  <td>
                    <p class="mb-0">Test</p>
                  </td>
                  <td>
                    <p class="mb-0">Test</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="mb-0">Lession</p>
                  </td>
                  <td>
                    <p class="mb-0">Test</p>
                  </td>
                  <td>
                    <p class="mb-0">Test</p>
                  </td>
                  <td>
                    <p class="mb-0">Test</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="mb-0">Lession</p>
                  </td>
                  <td>
                    <p class="mb-0">Test</p>
                  </td>
                  <td>
                    <p class="mb-0">Test</p>
                  </td>
                  <td>
                    <p class="mb-0">Test</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4 col-xl-4 d-flex">
      <div class="card flex-fill">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-6">
              <h5 class="card-title">Task</h5>
            </div>
            <div class="col-6">
              <span class="float-right view-link"
                ><a href="#">View All </a></span
              >
            </div>
          </div>
        </div>
        <div class="pt-3 pb-3">
          <div class="table-responsive lesson">
            <table class="table table-center">
              <thead>
                <tr>
                  <th>Daily</th>
                  <th>Weekly</th>
                  <th>Monthly</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <p class="mb-0">Aug 4, Tuesday</p>
                  </td>
                  <td>
                    <p class="mb-0">Task</p>
                  </td>
                  <td>
                    <p class="mb-0">Done</p>
                  </td>
                </tr>

                <tr>
                  <td>
                    <p class="mb-0">Feb 4, Tuesday</p>
                  </td>
                  <td>
                    <p class="mb-0">Task</p>
                  </td>
                  <td>
                    <p class="mb-0">Ongoing</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
