<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row">
      <div class="col">
        <h3 class="page-title">Making Payments</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
          <li class="breadcrumb-item active">Making Payments</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table
              datatable
              [dtOptions]="dtOptions"
              class="datatable table table-stripped"
            >
              <thead class="bg bg-secondary">
                <tr class="text-white">
                  <th>S.No</th>
                  <th>Action</th>
                  <th>Invoice No</th>
                  <th>Enroll Ref</th>
                  <th>Company Name</th>
                  <th>Student Name</th>
                  <th>Course ID</th>
                  <th>Payment Date</th>
                  <th>Payment Type</th>
                  <th>Payment Amount</th>
                  <th>Cheque Date</th>
                  <th>Comments</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Make Payment</td>
                  <td>INV234</td>
                  <td>ENR32</td>
                  <td>TTech System</td>
                  <td>ICFC N1</td>
                  <td>COURs234</td>
                  <td>25-02-2022</td>
                  <td>Cheque</td>
                  <td>25456</td>
                  <td>21-02-2022</td>
                  <td>hellow text</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
