<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row">
      <div class="col">
        <h3 class="page-title">Lesson List</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
          <li class="breadcrumb-item active">Add List</li>
        </ul>
      </div>
      <div class="col-auto text-right float-right ml-auto">
        <a href="#" class="btn btn-outline-primary mr-2"
          ><i class="fas fa-download"></i>
        </a>
        <a routerLink="/course/lesson-add" class="btn btn-primary"
          ><i class="fas fa-plus"></i> Add Lesson</a
        >
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <!-- row -->
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table
              datatable
              [dtOptions]="dtOptions"
              class="datatable table table-stripped"
            >
              <thead class="bg bg-secondary">
                <tr class="text-white">
                  <th>Sr.No</th>
                  <th>Course Code</th>
                  <th>Course Name</th>
                  <th>Added Lesson</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>CL545</td>
                  <td>Prgramming Methods</td>
                  <td>
                    12 Lesson <br />
                    <p class="text-muted small mt-0">
                      L1:PHP progam.., L2:HTML5 lang.., L3:CSS3 style, L4:Redux
                      prog..., L5:Reactjs,..
                    </p>
                  </td>
                  <td>
                    <div class="actions">
                      <a href="#" class="btn btn-sm bg-success-light mr-2">
                        <i class="fas fa-pen"></i>
                      </a>

                      <a href="#" class="btn btn-sm bg-danger-light">
                        <i class="fas fa-trash"></i>
                      </a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>CL655</td>
                  <td>Web Technologies</td>
                  <td>
                    10 Lesson <br />
                    <p class="text-muted small mt-0">
                      L1:PHP progam.., L2:HTML5 lang.., L3:CSS3 style, L4:Redux
                      prog..., L5:Reactjs,..
                    </p>
                  </td>
                  <td>
                    <div class="actions">
                      <a href="#" class="btn btn-sm bg-success-light mr-2">
                        <i class="fas fa-pen"></i>
                      </a>

                      <a href="#" class="btn btn-sm bg-danger-light">
                        <i class="fas fa-trash"></i>
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>
