<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">HR Candidate - Interview</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
          <li class="breadcrumb-item active">HR Candidate - Interview</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <div class="row">
    <div class="col-sm-12">
      <div class="card card-table">
        <div class="card-body">
          <div class="mb-0">
            <div class="mb-3 row">
              <div class="col-md-4">
                <div class="form-group mb-4">
                  <label>Candidate ID </label>
                  <select class="select2 form-control" required>
                    <option disabled selected>-- Select --</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="2">3</option>
                  </select>
                </div>
              </div>
            </div>

            <!-- form -->
            <form class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Candidate ID </label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Auto"
                    disabled
                  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Candidate Name </label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Auto"
                    disabled
                  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Application Date </label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Auto"
                    disabled
                  />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Attachments </label> <br />
                  <a href="#">Link here</a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Position Applied </label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Auto"
                    disabled
                  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Department </label>
                  <select class="select2 form-control" required>
                    <option disabled selected>-- Select --</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="2">3</option>
                  </select>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Interview Comments </label>
                  <input type="text" class="form-control" />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Further Interview </label>
                  <select class="select2 form-control" required>
                    <option disabled selected>-- Select --</option>
                    <option value="1">Yes needed</option>
                    <option value="2">Not Needed</option>
                  </select>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Position Suggested </label>
                  <select class="select2 form-control" required>
                    <option disabled selected>-- Select --</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                  </select>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Preferred Employment start date </label>
                  <input type="date" class="form-control" />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Assign Interviewer </label>
                  <select class="select2 form-control" required>
                    <option disabled selected>-- Select --</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="2">3</option>
                  </select>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Assign Interview Date </label>
                  <input type="date" class="form-control" />
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group mt-2">
                  <a routerLink="/" class="btn btn-primary mr-3"> Submit </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
