<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Student Profile Status Search</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
          <li class="breadcrumb-item active">Student Profile</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <div class="row">
    <!-- input -->
    <!-- <div class="col-sm-12">
      <div class="card card-table">
        <div class="card-body">
          <form class="row">
            <div class="col-md-6">
              <label class="">&nbsp;</label>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  aria-label="Text input with dropdown button"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group mt-4">
                    <a
                      routerLink="/course/course-requirement-add"
                      class="btn btn-primary"
                      ><i class="fas fa-search"></i> Search
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div> -->
    <!-- end search -->
    <div class="col-sm-12">
      <div class="card card-table">
        <div class="card-body">
          <div class="accordion" id="accordionExample">
            <div class="card mb-0">
              <div
                class="card-header p-2"
                id="headingOne"
                style="background-color: #f5f5f5"
              >
                <h2 class="mb-0">
                  <button
                    class="btn btn-link btn-block text-left"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    #1
                  </button>
                </h2>
              </div>

              <div
                id="collapseOne"
                class="collapse show"
                aria-labelledby="headingOne"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  <form class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Students Name</label>
                        <select class="select2 form-control" required>
                          <option disabled selected>-- Select --</option>
                          <option value="1">ICFC N1</option>
                          <option value="2">David</option>
                          <option value="2">Ramesh</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Course Name</label>
                        <select class="select2 form-control" required>
                          <option disabled selected>-- Select --</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Course Code</label>
                        <select class="select2 form-control" required>
                          <option disabled selected>-- Select --</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Batch ID</label>
                        <input type="text" class="form-control" />
                      </div>
                    </div>
                    <!-- <div class="col-md-3">
                      <div class="form-group">
                        <label>Course status </label>
                        <input
                          type="text"
                          class="form-control"
                          value="Confirm"
                          disabled
                        />
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Course Attended Date </label>
                        <input
                          type="text"
                          class="form-control"
                          value="24-July-2022"
                          disabled
                        />
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Course Result </label>
                        <select class="select2 form-control" required>
                          <option value="1" selected>Passed</option>
                          <option value="2">Assessment Pending</option>
                          <option value="2">Under Appeal</option>
                          <option value="2">Appeal Resolved</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Grant Status </label>
                        <select class="select2 form-control" required>
                          <option value="1" selected>Applied</option>
                          <option value="2">Processing (Admin)</option>
                          <option value="2">Not Applied</option>
                          <option value="2">Pending (Agency)</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Training Organization </label>
                        <select class="select2 form-control" required>
                          <option value="1" selected>1</option>
                          <option value="2">2</option>
                          <option value="2">3</option>
                          <option value="2">4</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Certification Status </label>
                        <input
                          type="text"
                          class="form-control"
                          value="Issued"
                          disabled
                        />
                      </div>
                    </div> -->

                    <div class="col-md-12">
                      <div class="form-group">
                        <a
                          routerLink="/course/course-requirement-add"
                          class="btn btn-primary"
                          ><i class="fas fa-search"></i> Search
                        </a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="card card-table">
        <div class="card-body">
          <div class="table-responsive">
            <table
              datatable
              [dtOptions]="dtOptions"
              class="datatable table table-stripped"
            >
              <thead class="bg bg-secondary">
                <tr class="text-white">
                  <th>SN</th>
                  <th>Student Name</th>
                  <th>Course Name</th>
                  <th>Course Code</th>
                  <th>Batch ID</th>
                  <th>Course status</th>
                  <th>Course Attended Date</th>
                  <th>Course Result</th>
                  <th>Grant Status</th>
                  <th>Training Organization</th>
                  <th>Certification Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td><a href="#">ICFC N1</a></td>
                  <td>Php</td>
                  <td>3423</td>
                  <td>DR34</td>
                  <td>Yes</td>
                  <td>23-Jan-2022</td>
                  <td>Fass</td>
                  <td>No</td>
                  <td>Abs Systems</td>
                  <td>Not Received</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
