<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Certificate Template</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
          <li class="breadcrumb-item active">Certificate Template</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <div class="row">
    <div class="col-sm-12">
      <div class="card card-table">
        <div class="card-body">
          <div class="mb-0">
            <form>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Training Organization </label>
                    <select class="select2 form-control" required>
                      <option disabled selected>-- Select --</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="2">3</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Teaching Mode </label>
                    <select class="select2 form-control" required>
                      <option disabled selected>-- Select --</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="2">3</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Course Name </label>
                    <select class="select2 form-control" required>
                      <option disabled selected>-- Select --</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="2">3</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label>Course Code </label>
                    <select class="select2 form-control" required>
                      <option disabled selected>-- Select --</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="2">3</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label>Batch ID</label>
                    <select class="select2 form-control" required>
                      <option disabled selected>-- Select --</option>
                      <option value="1">Applies</option>
                      <option value="2">Not Applicable</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label>Course Approval Status</label>
                    <select class="select2 form-control" required>
                      <option disabled selected>-- Select --</option>
                      <option value="1">Agency</option>
                      <option value="2">ICFC</option>
                      <option value="3">Training organization</option>
                      <option value="4">Others</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label>Course Date</label>
                    <select class="select2 form-control" required>
                      <option disabled selected>-- Select --</option>
                      <option value="1">Print-required</option>
                      <option value="2">Print-Not Required</option>
                      <option value="3">Others</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label>Course Attendance</label>
                    <select class="select2 form-control" required>
                      <option disabled selected>-- Select --</option>
                      <option value="1">Yes-% Attained</option>
                      <option value="2">Yes-% Not Required</option>
                      <option value="3">Others</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label>Student Name </label>
                    <select class="select2 form-control" required>
                      <option disabled selected>-- Select --</option>
                      <option value="1">Applies</option>
                      <option value="2">Not Applicable</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label>Student National ID </label>
                    <select class="select2 form-control" required>
                      <option disabled selected>-- Select --</option>
                      <option value="1">Applies</option>
                      <option value="2">Not Applicable</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label>Company Name </label>
                    <select class="select2 form-control" required>
                      <option disabled selected>-- Select --</option>
                      <option value="1">Applies</option>
                      <option value="2">Not Applicable</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label>Language </label>
                    <select class="select2 form-control" required>
                      <option disabled selected>-- Select --</option>
                      <option value="1">Applies</option>
                      <option value="2">Not Applicable</option>
                    </select>
                  </div>
                </div>
              </div>

              <!-- row -->
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Font Family </label>
                    <select class="select2 form-control" required>
                      <option disabled selected>-- Select --</option>
                      <option value="1">Available</option>
                      <option value="2">Not Available</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label>Font Upload </label>
                    <select class="select2 form-control" required>
                      <option disabled selected>-- Select --</option>
                      <option value="1">Yes</option>
                      <option value="2">No</option>
                    </select>
                    <input type="file" class="form-control mt-2" />
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label>Images - Background </label>
                    <select class="select2 form-control" required>
                      <option disabled selected>-- Select --</option>
                      <option value="1">Yes</option>
                      <option value="2">No</option>
                    </select>
                    <input type="file" class="form-control mt-2" />
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label>Images - Frames </label>
                    <select class="select2 form-control" required>
                      <option disabled selected>-- Select --</option>
                      <option value="1">Yes</option>
                      <option value="2">No</option>
                    </select>
                    <input type="file" class="form-control mt-2" />
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label>Images - ICFC Logo </label>
                    <select class="select2 form-control" required>
                      <option disabled selected>-- Select --</option>
                      <option value="1">Yes</option>
                      <option value="2">No</option>
                    </select>
                    <input type="file" class="form-control mt-2" />
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label>Images - Course Logo </label>
                    <select class="select2 form-control" required>
                      <option disabled selected>-- Select --</option>
                      <option value="1">Yes</option>
                      <option value="2">No</option>
                    </select>
                    <input type="file" class="form-control mt-2" />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Images - Agency Logo 1 </label>
                    <select class="select2 form-control" required>
                      <option disabled selected>-- Select --</option>
                      <option value="1">Yes</option>
                      <option value="2">No</option>
                    </select>
                    <input type="file" class="form-control mt-2" />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Images - Agency Logo 2 </label>
                    <select class="select2 form-control" required>
                      <option disabled selected>-- Select --</option>
                      <option value="1">Yes</option>
                      <option value="2">No</option>
                    </select>
                    <input type="file" class="form-control mt-2" />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Other Images </label>
                    <select class="select2 form-control" required>
                      <option disabled selected>-- Select --</option>
                      <option value="1">Yes</option>
                      <option value="2">No</option>
                    </select>
                    <input type="file" class="form-control mt-2" />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>ICFC Trainer - Signature </label>
                    <select class="select2 form-control" required>
                      <option disabled selected>-- Select --</option>
                      <option value="1">Yes</option>
                      <option value="2">No</option>
                    </select>
                    <input type="file" class="form-control mt-2" />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>ICFC Trg Mgr - Signature </label>
                    <select class="select2 form-control" required>
                      <option disabled selected>-- Select --</option>
                      <option value="1">Yes</option>
                      <option value="2">No</option>
                    </select>
                    <input type="file" class="form-control mt-2" />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>ICFC Dir - Signature </label>
                    <select class="select2 form-control" required>
                      <option disabled selected>-- Select --</option>
                      <option value="1">Yes</option>
                      <option value="2">No</option>
                    </select>
                    <input type="file" class="form-control mt-2" />
                  </div>
                </div>
              </div>

              <!-- row -->
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Certificate Number </label>
                    <select class="select2 form-control" required>
                      <option disabled selected>-- Select --</option>
                      <option value="1">Auto</option>
                      <option value="2">Manual</option>
                      <option value="3">Pseudotype</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label>Certificate Number Format </label>
                    <input type="text" class="form-control" />
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label>Certificate unique ID </label>
                    <input type="text" class="form-control" />
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label>Certificate Issue Date </label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Certificate Expiry Date </label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Certificate Content - Header </label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Certificate Content - Footer </label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Certificate Content - ICFC details (address) </label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Certificate Content - Back Page </label>
                    <input type="text" class="form-control" />
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label>Certificate Additional Pages</label>
                    <select class="select2 form-control" required>
                      <option disabled selected>-- Select --</option>
                      <option value="1">Yes</option>
                      <option value="2">No</option>
                    </select>
                    <input type="file" class="form-control mt-2" />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Email Content </label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
                <!-- end row -->
              </div>

              <!--  row -->
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Template Name </label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Template ID </label>
                    <input type="text" class="form-control" />
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label>Template Paper size </label>
                    <select class="select2 form-control" required>
                      <option disabled selected>-- Select --</option>
                      <option value="1">A4</option>
                      <option value="2">A3</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label>Template Layout </label>
                    <select class="select2 form-control" required>
                      <option disabled selected>-- Select --</option>
                      <option value="1">Landscape</option>
                      <option value="2">Potrait</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label>QR Code</label>
                    <select class="select2 form-control" required>
                      <option disabled selected>-- Select --</option>
                      <option value="1">Yes</option>
                      <option value="2">No</option>
                      <option value="3">NA</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label>Certificate Format</label>
                    <select class="select2 form-control" required>
                      <option disabled selected>-- Select --</option>
                      <option value="1">PDF Secured</option>
                      <option value="2">PNG Secured</option>
                      <option value="3">Others</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label>Print Quality</label>
                    <select class="select2 form-control" required>
                      <option disabled selected>-- Select --</option>
                      <option value="1">High</option>
                      <option value="2">Medium</option>
                      <option value="3">Low</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label>Certificate Repository</label>
                    <input type="text" class="form-control" />
                  </div>
                </div>

                <!-- end row -->
              </div>
            </form>

            <div class="form-group mt-2">
              <a routerLink="/" class="btn btn-primary mr-3"> Submit </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
