<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Assessment - Upload Question Bank</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
          <li class="breadcrumb-item active">
            Assessment - Upload Question Bank
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <div class="row">
    <div class="col-sm-12">
      <div class="card card-table">
        <div class="card-body">
          <div class="accordion">
            <div class="card mb-0">
              <div class="card-body">
                <form class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Course Type</label>
                      <select class="select2 form-control" required>
                        <option disabled selected>-- Select --</option>
                        <option value="1">Offline</option>
                        <option value="2">Online</option>
                        <option value="3">Others</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Course Name</label>
                      <select class="select2 form-control" required>
                        <option disabled selected>-- Select --</option>
                        <option value="1">1</option>
                        <option value="2">1</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Course ID</label>
                      <select class="select2 form-control" required>
                        <option disabled selected>-- Select --</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Course Code</label>
                      <select class="select2 form-control" required>
                        <option disabled selected>-- Select --</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Language</label>
                      <select class="select2 form-control" required>
                        <option disabled>-- Select --</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="2">3</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Training Organization</label>
                      <select class="select2 form-control" required>
                        <option disabled>-- Select --</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="2">3</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group mt-4">
                      <a routerLink="/" class="btn btn-primary"> Submit </a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <!-- form section 2 -->
          <div class="mt-5">
            <div class="card mb-0">
              <div class="card-body">
                <form class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Assessment Mode </label>
                      <select class="select2 form-control" required>
                        <option disabled selected>-- Select --</option>
                        <option value="1">Offline</option>
                        <option value="2">Online</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Lesson Number </label>
                      <select class="select2 form-control" required>
                        <option disabled selected>-- Select --</option>
                        <option value="1">1</option>
                        <option value="2">1</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Chapter No </label>
                      <select class="select2 form-control" required>
                        <option disabled selected>-- Select --</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Question Availability </label>
                      <select class="select2 form-control" required>
                        <option disabled selected>-- Select --</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Assessment Criteria Code </label>
                      <select class="select2 form-control" required>
                        <option disabled>-- Select --</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="2">3</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Difficulty Level </label>
                      <select class="select2 form-control" required>
                        <option disabled>-- Select --</option>
                        <option value="1">Very Easy</option>
                        <option value="2">Easy</option>
                        <option value="2">Moderate</option>
                        <option value="2">Difficult</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Assessment Stage </label>
                      <select class="select2 form-control" required>
                        <option disabled>-- Select --</option>
                        <option value="1">Final Assessment</option>
                        <option value="2">Lesson Based</option>
                        <option value="2">Full Course</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Assessment Type </label>
                      <select class="select2 form-control" required>
                        <option disabled>-- Select --</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="2">3</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Assessment Code </label>
                      <select class="select2 form-control" required>
                        <option disabled>-- Select --</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="2">3</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Assessment Name </label>
                      <select class="select2 form-control" required>
                        <option disabled>-- Select --</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="2">3</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Assessment Q Number </label>
                      <input
                        type="text"
                        class="form-control"
                        disabled
                        placeholder="auto"
                      />

                      <input type="text" class="form-control mt-2" />
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Question Type </label>
                      <select class="select2 form-control" required>
                        <option disabled>-- Select --</option>
                        <option value="1">Written</option>
                        <option value="2">MCQ</option>
                        <option value="2">Practical</option>
                        <option value="2">Oral</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Marks Alloted </label>
                      <input type="text" class="form-control" />
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Supporting file </label>
                      <select class="select2 form-control" required>
                        <option disabled>-- Select --</option>
                        <option value="1">Audio</option>
                        <option value="2">Video</option>
                        <option value="2">Image</option>
                        <option value="2">Others</option>
                      </select>

                      <div class="mt-2">
                        <input type="file" class="form-control" />
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Time Limit (mins) </label>
                      <input type="text" class="form-control" />
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Question Description </label>
                      <input type="text" class="form-control" />
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Answer Options </label>
                      <input type="text" class="form-control" />
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Correct Answer </label>
                      <input type="text" class="form-control" />
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Pass Marks </label>
                      <input type="text" class="form-control" />
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Attempts Allowed </label>
                      <input type="text" class="form-control" />
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group mt-4">
                      <a routerLink="/" class="btn btn-primary mr-2">
                        Submit
                      </a>
                      <a routerLink="/" class="btn btn-primary"> Clear </a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <!-- table -->
          <div class="table-responsive smallinput mt-5">
            <table
              datatable
              [dtOptions]="dtOptions"
              class="datatable table table-stripped"
            >
              <thead class="bg bg-secondary">
                <tr class="text-white">
                  <th>SN</th>
                  <th>Lesson Number</th>
                  <th>Chapter No</th>
                  <th>Assessment Q Number</th>
                  <th>Question Type</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>L2311</td>
                  <td>Ch34</td>
                  <td>Manual</td>
                  <td>Written</td>
                  <td>
                    <a href="#" class="btn btn-sm btn-primary mr-1"
                      ><i class="fas fa-edit"></i>
                    </a>

                    <a href="#" class="btn btn-sm btn-secondary"
                      ><i class="fas fa-trash"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
