<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row">
      <div class="col">
        <h3 class="page-title">Grant List</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
          <li class="breadcrumb-item active">Grant List</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table
              datatable
              [dtOptions]="dtOptions"
              class="datatable table table-stripped"
            >
              <thead class="bg bg-secondary">
                <tr class="text-white">
                  <th>S.No</th>
                  <th>Action</th>
                  <th>Course Code</th>
                  <th>Course Name</th>
                  <th>Batch ID</th>
                  <th>Company Name</th>
                  <th>Student Name</th>
                  <th>National ID</th>
                  <th>Invoice No</th>
                  <th>Grant Type</th>
                  <th>Grant Application Ref</th>
                  <th>Grant Amount</th>
                  <th>Grant Claim Result</th>
                  <th>Claimed Amount</th>
                  <th>Invoiced Amount</th>
                  <th>Balance</th>
                  <th>Last Update by</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Amend</td>
                  <td>COUR24</td>
                  <td>Web Develop</td>
                  <td>BAT12313</td>
                  <td>Tech System</td>
                  <td>ICFC N1</td>
                  <td>NAT234234</td>
                  <td>INV45646</td>
                  <td>TETER</td>
                  <td>DF4234</td>
                  <td>SG656</td>
                  <td>Applied</td>
                  <td>Good</td>
                  <td>SG4875</td>
                  <td>SG234</td>
                  <td>Kumar</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
